/* default : pc */
div.error.inner {
	margin: 10px;
	text-align: center;
	font-weight: bold;
	font-size: 150%;
}
div.error.inner.code {
	font-size: 400%;
}

/* mobile size */ 
@media (max-width:425px) {
	div.error.inner img {
		width: 80%;
		height: auto;
	}
}
