*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

/* default : pc */
div.btn {
	text-align: right;
}
div.status {
	padding: 10px;
}
div.error.inner {
	margin: 10px;
	text-align: center;
	font-weight: bold;
	font-size: 150%;
}
div.error.inner.code {
	font-size: 400%;
}

/* mobile size */ 
@media (max-width:425px) {
	div.error.inner img {
		width: 80%;
		height: auto;
	}
}
